<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <ion-title>
            Galaria de jogos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-row class="card">
        <ion-col col-6>
            <ion-row>
                <h4>black ops</h4>
            </ion-row>
            <ion-row>
                <ion-button (click)="presentActionSheet()">
                    <ion-icon name="settings-outline"></ion-icon>
                </ion-button>

            </ion-row>
        </ion-col>
        <ion-col col-6>
            <img src="../assets/ops.jpg">
        </ion-col>
    </ion-row>





    <ion-row class="card">
        <ion-col col-6>
            <ion-row>
                <h4>Battlefield</h4>
            </ion-row>
            <ion-row>
                <ion-button (click)="presentActionSheet()">
                    <ion-icon name="settings-outline"></ion-icon>
                </ion-button>

            </ion-row>
        </ion-col>
        <ion-col col-6>
            <img src="../assets/BTF.jpeg">
        </ion-col>
    </ion-row>




    <ion-row class="card">
        <ion-col col-6>
            <ion-row>
                <h4>Farcry</h4>
            </ion-row>
            <ion-row>
                <ion-button (click)="presentActionSheet()">
                    <ion-icon name="settings-outline"></ion-icon>
                </ion-button>

            </ion-row>
        </ion-col>
        <ion-col col-6>
            <img src="../assets/fcy.jpg">
        </ion-col>
    </ion-row>














</ion-content>